.nav-link {
  position: relative;
}

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #2563eb;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav-link:hover::after {
  width: 100%;
}
.skill-card {
  background: white;
  padding: 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.skill-card:hover {
  background: #2563eb;
  color: white;
  transform: translateY(-8px);
}
.project-card {
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(37,99,235,0.3);
}
.contact-btn {
  border: 2px solid white;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3s;
}

.contact-btn:hover {
  background: white;
  color: black;
}
.skill-card {
  opacity: 0;
  transform: translateY(30px);
}

.skill-show {
  opacity: 1;
  transform: translateY(0);
  transition: 0.6s ease;
}
.social-icon {
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.social-icon:hover {
  color: #facc15;
  transform: scale(1.2);
  transition: 0.3s;
}

.hero-btn-primary i {
  font-size: 18px;
}
.social-icon {
  background: #2563eb;
  color: white;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.social-icon i {
  font-size: 20px;
}

.social-icon:hover {
  background: #facc15;
  color: black;
  transform: scale(1.1);
}

.hero-btn-primary i {
  color: black;
}
.social-icon {
  width: 45px;
  height: 45px;
  background: #2563eb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
